.container {
  width: 100%;
  height: 100%;

  .aside {
    width: 220px !important;
    transition: width 0.5s;
    &.is-collapse {
      width: 60px !important;
      overflow: hidden;
    }
    .aside-logo {
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-size: 22px;
      font-weight: 600;
    }
    .aside-menu {
      height: calc(100% - 60px);
      .el-menu {
        border-right: none;
        background-color: #ffffff00;
      }
      .menu-title {
        margin-left: 5px;
      }
    }
  }

  .header {
    height: 60px !important;
    display: flex;
    padding: 0;
    .header-folder {
      cursor: pointer;
      text-align: center;
      line-height: 60px;
      width: 50px;
      font-size: 30px;
    }
    .header-menu {
      height: 60px;
      width: calc(100% - 300px);
      overflow: hidden;
      .el-menu {
        border-bottom: none;
        background-color: #ffffff00;
        .el-menu-item {
          border-bottom: none;
        }
      }
      .menu-title {
        margin-left: 5px;
      }
    }
    .header-right {
      display: inline-flex;
      width: 250px;
      align-items: center;
      justify-content: flex-end;
      [class*="header-"] {
        padding: 10px;
        cursor: pointer;
      }
    }
  }

  .main {
    padding: 0;
    .main-tabs {
      display: flex;
      height: 40px;
      .el-tabs {
        width: calc(100% - 25px);
        .el-tabs__header {
          margin: 0;
        }
        .el-tabs__content {
          display: none;
        }
      }
      .main-tabs-menu {
        padding: 0;
        width: 25px;
        height: 41px;
        text-align: center;
        background-color: #ffffff00;
      }
    }
    .main-view {
      height: calc(100% - 40px);
    }
  }
}
