//主题名称
$theme-name: "default";

//页面背景
$container-bg: #eee;

// 侧边栏logo背景色
$aside-logo-bgc: #333;
// 侧边栏logo字体色
$aside-logo-color: #fff;

//侧边栏菜单背景色
$aside-menu-bgc: #333;
//侧边栏菜单项字体色
$aside-menu-item-color: #fff;
//侧边栏活动菜单背景色
$aside-menu-item-bgc-active: #000000aa;
//侧边栏活动菜单字体色
$aside-menu-item-color-active: #409eff;
//侧边栏菜单hover背景色
$aside-menu-item-bgc-hover: #000000aa;
//侧边栏菜单hover字体色
$aside-menu-item-color-hover: none;

//顶栏背景色
$header-bgc: #fff;
//顶栏字体色
$header-color: #000;

//顶栏菜单项字体色
$header-menu-item-color: #888;
//顶栏活动菜单背景色
$header-menu-item-bgc-active: #00000000;
//顶栏活动菜单字体色
$header-menu-item-color-active: #000;
//顶栏菜单hover背景色
$header-menu-item-bgc-hover: #00000011;
//顶栏菜单hover字体色
$header-menu-item-color-hover: none;

//顶栏右侧项背景色
$header-right-item-bgc: #00000011;

//标签栏背景色
$main-tabs-bgc: #fff;

@import "./theme.scss";
